:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

.fdown {
  display: flex;
  flex-direction: column;
}

.fup {
  display: flex;
  flex-direction: column-reverse;
}

.fright {
  display: flex;
  flex-direction: row;
}

.fleft {
  display: flex;
  flex-direction: row-reverse;
}

.facenter {
  align-items: center;
}

.fastart {
  align-items: start;
}

.faend {
  align-items: end;
}

.fjcenter {
  justify-content: center;
}

.fjstart {
  justify-content: start;
}

.fjend {
  justify-content: end;
}
